.navbar{
    background-color: #111010;
    color: #ffffff;
}
.navbar-a:hover{
    color: #008000;
}
.nav-home{
    color: green;
}
.main-image{
    margin-top: 70px;
    margin-right: 70px;
    width: 40vw;
    float: right;
}
.white-internee{
    width: 17vw;
    height: 10vh;
    padding: 10px;
}
.jobportal-btn{
    border: 1px solid #008000;
    background-color: #008000;
    padding: 8px 20px;
    border-radius: 13px;
    font-weight: 500;
}
.jobportal-btn:hover{
    background-color: transparent;
}
.sign-in-btn{
    border: 1px solid #008000;
    background-color: #008000;
    padding: 8px 20px;
    gap: 20px;
    border-radius: 13px;
    font-weight: 500;
    margin: 40px;
}
.our-job-portal{
    background-color: #3b923b;
    color: white;
    border-radius: 17px;
    font-size: 1.2rem;
    font-weight: 400;
}
.our-job-portal:hover{
    background-color: #4caf31;
}
.sign-in-button{
    background-color: #1e2536;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 400;
    width: 10vw;
}
.sign-in-button:hover{
    background-color: #293349;
}
.heading{
    background-color: #101828;
    display: flex;
    justify-content: center;
    text-align: center;
}
.parent{
    border: none;
    width: 100vw;
    background-color: #101828;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image-width{
    width: 5vw;
}
.heading-1{
    border: none;
    width: 100vw;
    background-color: #101828;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
}
.container-backgrund{
    background-image: url(./assets/images/downloaded\ back\ image.jpeg);
    width: 100%;
    height: 100%;
}
.heading-2{
    color: #4e4747;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 100px;
}
.para-1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #4e4747;
    font-size: 1.2rem;
}