.navbar{
    background-color: #111010;
    color: #ffffff;
}
.navbar-a:hover{
    color: #008000;
}
.nav-home{
    color: green;
}
.main-image{
    margin-top: 70px;
    margin-right: 70px;
    width: 40vw;
    float: right;
}
.white-internee{
    width: 17vw;
    height: 10vh;
    padding: 10px;
}
.jobportal-btn{
    border: 1px solid #008000;
    background-color: #008000;
    padding: 8px 20px;
    border-radius: 13px;
    font-weight: 500;
}
.jobportal-btn:hover{
    background-color: transparent;
}
.sign-in-btn{
    border: 1px solid #008000;
    background-color: #008000;
    padding: 8px 20px;
    gap: 20px;
    border-radius: 13px;
    font-weight: 500;
    margin: 40px;
}
.our-job-portal{
    background-color: #3b923b;
    color: white;
    border-radius: 17px;
    font-size: 1.2rem;
    font-weight: 400;
}
.our-job-portal:hover{
    background-color: #4caf31;
}
.sign-in-button{
    background-color: #1e2536;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 400;
    width: 10vw;
}
.sign-in-button:hover{
    background-color: #293349;
}
.heading{
    background-color: #101828;
    display: flex;
    justify-content: center;
    text-align: center;
}
.parent{
    border: none;
    width: 98.9vw;
    background-color: #101828;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image-width{
    width: 5vw;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.button{
    background-color: #293349;
    border: 1px solid #ffffff;
    width: 26vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 7px;
    font-weight: bold;
    color: #ffffff;
}
.trending-btn{
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 3px 7px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}
.heading-1{
    background-color: #101828;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
}
.hero{
    background-image: url(./assets/images/BeFunky-photo-2.jpg);
    background-size: cover;
    width: 100%;
    height: 150vh;
    position: relative;
}
.heading-2{
    position: relative;
    top: 100px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
}
.para-1{
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #d1c7c7;
    font-size: 1.2rem;
}
.shotting-star{
    font-size: 1.3rem;
    font-weight: bolder;
    color: #ffffff;
}
.para-shotting-star{
    font-weight: 500;
    color: #ffffff;
}